---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home | Abdallah Ayoub">
	<section class="py-20 px-6">
		<h1 class="text-4xl font-bold">Welcome to my Portfolio</h1>
		<p class="mt-4 text-gray-400">
			Software Engineer and researcher specializing in AI and Security.
		</p>
	</section>
</Layout>
