---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
    <div class="p-8">
        <h1 class="text-3xl font-bold">My Projects</h1>
        <p class="mt-4 text-gray-400">Content coming soon...</p>
    </div>
</Layout>
